:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --bg-color: #2f303a;
  --link-color: #fff;
}
body {
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.hero {
  background-color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/background_img.png);
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work {
  padding-bottom: 94px;
}
.workers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.header-logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.logo-accent {
  color: var(--accent-color);
}
.header-info-link {
  color: var(--add-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 auto;
}
.hero-button {
  width: 216px;
  height: 50px;
  font-family: Roboto;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.87;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.header-info-link:hover,
.header-info-link:focus {
  color: var(--accent-color);
}
.advantages-title {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.advantages-text {
  color: var(--add-color);

  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.work-title {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 1.08px;
}
header > .container {
  display: flex;
  align-items: baseline;
}
.header-logo {
 margin-right: 93px;
}
.header-nav-list {
  display: flex;
  gap: 50px;
}
.hero > .container {
 display: flex;
 flex-direction: column;
}
.header-info-list{
  display: flex;
  gap: 50px;
  margin-left: auto
}

.hero-button {
display: block;
margin: 0 auto;
margin-top: 30px;
}
.filters-list {
  display: flex;
 justify-content: center;
 gap: 8px;
 margin-bottom: 50px;
}
.advantages > .container {
  display: flex;
  flex-direction: row;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.work-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.workers-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.workers-title {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 1.08px;
}
.workers-list-title {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.workers-list-text {
  color: var(--add-color);
  text-align: center;
  font-family: Roboto;
  line-height: normal;
  letter-spacing: 0.48px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}

.footer-logo {
  color: white;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.footer-address-list:first-child {
  color: #fff;
  font-family: Roboto;
}
.contact-item {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.contact-item:not(:first-child) {
  margin-top: 9px;
}
.header-nav-link {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.28px;
}
.address-link {
  color: var(--link-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.contacts-link {
  color: var(--add-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
body {
  font-family: Roboto, sans-serif;
}
.projects-list-item-button {
  border-radius: 4px;
  background: var(--link-color);
    font-family: Roboto;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    font-weight: 500;
}
.projects-list-item-title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
}

.projects-list-item-text {
  color: var(--add-color);
  font-family: Roboto;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.projects-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
 gap: 30px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
