:root {
	--accent-color: #2196f3;
	--main-color: #212121;
	--add-color: #757575;
	--bg-color: #2f303a;
	--link-color: #fff;
}
body {
	font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
	padding: 0;
}

.link {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.header > .container {
	display: flex;
	align-items: baseline;
}
.header-logo {
	color: #000;
	font-family: Raleway;
	font-size: 26px;
	letter-spacing: 0.78px;
	margin-right: 93px;
}
.logo-accent {
	color: var(--accent-color);
}
.header-nav-list {
	display: flex;
	gap: 50px;
}
.header-nav-link:hover,
.header-nav-link:focus {
	color: var(--accent-color);
}
.header-nav-link {
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	color: var(--main-color);
	font-size: 14px;
	letter-spacing: 0.28px;
	font-weight: 500;
}
.current {
	color: var(--accent-color);
	position: relative;
}
.current::after {
	display: block;
	content: " ";
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
	position: absolute;
	bottom: 0;
}
.header-info-list {
	display: flex;
	gap: 50px;
	margin-left: auto;
}
.header-info-link:hover .header-info-item-svg,
.header-info-link:focus .header-info-item-svg {
	fill: var(--accent-color);
}
.header-info-link {
	display: flex;
	align-items: center;
	color: var(--add-color);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.28px;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.header-info-link:hover,
.header-info-link:focus {
	color: var(--accent-color);
}
.header-info-item-svg {
	fill: var(--add-color);
	margin-right: 10px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: fill;
}
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero-title {
	color: #fff;
	text-align: center;
	font-family: Roboto;
	font-size: 44px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 2.64px;
	text-transform: uppercase;
	margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
	color: var(--accent-color);
	background-color: var(--link-color);
	cursor: pointer;
	border: none;
}
.hero-button {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: color, border-color;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	padding-right: 32px;
	font-family: Roboto;
	color: #ffffff;
	background-color: #2196f3;
	font-weight: 700;
	line-height: 1.87;
	border: none;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 4px;
}
.advantages {
	padding-top: 94px;
	padding-bottom: 94px;
}
.advantages-list {
	display: flex;
	gap: 30px;
}
.advantages-item {
	flex-basis: calc((100% - 90px) / 4);
}
.advantages-item::before {
	content: "";
	display: block;
	margin: 0 auto;
	background-image: url(../images/antenna_img.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px 70px;
	margin-bottom: 30px;
	background-color: #f5f5f5;
	width: 270px;
	height: 120px;
	border-radius: 4px;
}
.advantages-item:nth-child(3)::before {
	background-image: url(../images/computer_img.svg);
}
.advantages-item:nth-child(2)::before {
	background-image: url(../images/clock_img.svg);
}
.advantages-item:nth-child(4)::before {
	background-image: url(../images/austronaut_img.svg);
}
.advantages-title {
	color: var(--main-color);
	font-family: Roboto;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.advantages-text {
	color: var(--add-color);
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.work {
	padding-bottom: 94px;
}
.work-title {
	color: var(--main-color);
	text-align: center;
	font-family: Roboto;
	font-size: 36px;
	line-height: normal;
	letter-spacing: 1.08px;
}
.work-list {
	display: flex;
	gap: 30px;
	margin-top: 50px;
}
.work-list-item {
	position: relative;
}
.work-list-item-text {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: #2f303acb;
	height: 70px;
	width: 370px;
	position: absolute;
	bottom: 0;
}
.workers {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: #f5f4fa;
}
.workers-title {
	color: var(--main-color);
	text-align: center;
	font-family: Roboto;
	font-size: 36px;
	line-height: normal;
	letter-spacing: 1.08px;
}
.workers-list {
	display: flex;
	gap: 30px;
	margin-top: 50px;
}
.workers-list-item {
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	background-color: var(--link-color);
	border-radius: 0px 0px 4px 4px;
}
.information-worker-list-link:hover .workers-list-container-svg,
.information-worker-list-link:focus .workers-list-container-svg {
	fill: var(--link-color);
}
.information-worker-list-link:hover,
.information-worker-list-link:focus {
	background-color: var(--accent-color);
} 
.information-worker-list-link {
	padding: 12px;
	display: flex;
	border-radius: 50%;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: backgroud-color;
}
.workers-list-container-svg {
	fill: var(--add-color);
	transition-property: fill;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.clients {
	padding-top: 94px;
	padding-bottom: 94px;
}
.clients-title {
	font-size: 36px;
	text-align: center;
}
.clients-list {
	display: flex;
	gap: 30px;
	margin-top: 50px;
	justify-content: center;
}
.clients-list-item-link:hover,
.clients-list-item-link:focus {
	border-color: var(--accent-color);
}
.clients-list-item-link {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: border-color;
	display: block;
	border-radius: 4px;
	border-color: #afb1b8;
	border-width: 1px;
	border-style: solid;
	padding: 16px 32px 16px 32px;
}
.clients-list-item-link:hover .clients-list-item-svg,
.clients-list-item-link:focus .clients-list-item-svg {
	fill: var(--accent-color);
}
.clients-list-item-link .clients-list-item-svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: fill;
}
.clients-list-item-svg {
	fill: #afb1b8;
	transition-property: fill;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 528px;
	height: 581px;
	padding: 40px;
	background-color: var(--link-color);
	transform: translate(-50%, -50%);
	border-radius: 4px;
}
.btn:hover,
.btn:focus {
	fill: var(--accent-color);
	cursor: pointer;
}
.btn {
	position: absolute;
	display: flex;
	background-color: transparent;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-width: 2px;
	padding: 6px;
	border-radius: 50%;
	right: 12px;
	top: 10px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: fill;
}
.modal-text {
	margin-bottom: 12px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #212121;
}
.modal-form-text {
	display: block;
	position: relative;
	margin-bottom: 10px;
	margin-bottom: 4px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01em;
	color: #757575;
}
.modal-form-text:last-of-type {
	margin-bottom: 20px;
}
.modal-input:hover,
.modal-input:focus {
	border-color: var(--accent-color);
}
.modal-input {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: border-color;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	width: 100%;
	padding: 11px;
	margin-top: 4px;
	padding-left: 40px;
}
.modal-input:hover + .modal-form-name-svg,
.modal-input:focus + .modal-form-name-svg {
	fill: var(--accent-color);
}
.modal-form-name-svg {
	fill: #212121;
	position: absolute;
	bottom: 11px;
	left: 12px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: fill;
}
.modal-form-comment:hover,
.modal-form-comment:focus {
	border-color: var(--accent-color);
}
.modal-form-comment {
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	width: 100%;
	height: 120px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
	padding-top: 12px;
	padding-left: 16px;
	margin-top: 4px;
	resize: none;
	outline: none;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: border-color;
}
.modal-form-container {
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.03em;
	color: #757575;
	margin-top: 20px;
	gap: 8.28px;
	align-items: center;
}
.modal-form-input {
	outline: none;
	width: 448px;
	height: 120px;
	width: 16px;
	height: 16px;
	fill: #212121;
}
.modal-form-link {
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--accent-color);
}
.modal-form-button:hover,
.modal-form-button:focus {
	color: #2196f3;
	background-color: var(--link-color);
	cursor: pointer;
}
.modal-form-button {
	display: block;
	margin: 0 auto;
	text-align: center;
	border-radius: 4px;
	margin-top: 30px;
	width: 200px;
	height: 50px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background-color: var(--accent-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 187%;
	letter-spacing: 0.06em;
	color: var(--link-color);
	border: #2196f3;
	transition-property: color, background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--bg-color);
}
.footer .container {
	display: flex;
	gap: 70px;
}
.footer-logo {
	color: white;
	font-family: Raleway;
	font-size: 26px;
	letter-spacing: 0.78px;
}
.address {
	font-style: normal;
	margin-top: 20px;
}
.footer-address-list:first-child {
	color: #fff;
	font-family: Roboto;
}

.contact-item:not(:first-child) {
	margin-top: 9px;
}
.address-link:hover,
.address-link:focus {
	color: var(--accent-color);
}
.address-link {
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	color: var(--link-color);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.footer-social-list-title {
	text-transform: uppercase;
	margin-bottom: 20px;
	color: var(--link-color);
}
.footer-social-list {
	display: flex;
	gap: 10px;
} 
.footer-social-list-link {
	padding: 12px;
	border-radius: 50%;
	display: flex;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: background-color;
}
.footer-social-list-link:focus,
.footer-social-list-link:hover {
	background-color: var(--accent-color);
}
.footer-social-list-link-svg {
	fill: var(--link-color);
}
.footer-E_mail-title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--link-color);
	margin-bottom: 20px;
}
.footer-E_mail-list-item-input:hover,
.footer-E_mail-list-item-input:focus {
	cursor: pointer;
	border-color: var(--accent-color);
	color: var(--link-color);
}
.footer-E_mail-list-item-input {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	width: 358px;
	height: 50px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background-color: rgba(33, 150, 243, 0);
	padding-left: 20px;
	margin-right: 12px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: color, border-color;
}
.footer-E_mail-list-item-button:hover,
.footer-E_mail-list-item-button:focus {
	cursor: pointer;
	background-color: var(--link-color);
	color: var(--accent-color);
}
.footer-E_mail-list-item-button {
	transition-property: color, background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	border-radius: 4px;
	padding: 10px 62px 10px 28px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 187%;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--link-color);
	background-color: #2196f3;
	border-color: #2196f3;
}
.footer-svg {
	position: absolute;
	margin-left: 10px;
}
.projects {
	padding-top: 94px;
	padding-bottom: 94px;
}
.filters-list {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.projects-list-item-button:hover,
.projects-list-item-button:focus {
	background-color: var(--accent-color);
	color: var(--link-color);
	cursor: pointer;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
		0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.projects-list-item-button {
	min-width: 73px;
	border-radius: 4px;
	background: #f5f4fa;
	font-family: Roboto;
	line-height: 26px; /* 162.5% */
	letter-spacing: 0.48px;
	font-weight: 500;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 22px;
	padding-left: 22px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: color, backgrond-color;
}
.projects-list {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 30px;
}
.projects-list-item {
	flex-basis: calc((100% - 60px) / 3);
	border-width: 1px;
	border-color: #eee;
	border-style: solid;
}
.project-link:hover,
.project-link:focus {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
		0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}
.project-link {
	display: block;
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.box {
	position: relative;
	overflow: hidden;
}
.box:hover .project-link-container {
	transform: translateX(0);
}
.project-link-container {
	position: absolute;
	padding: 63px 24px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	background-color: rgba(33, 150, 243, 0.9);
	transition: transform 900ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: transform;
}
.container_sites {
	padding: 20px 24px;
}

.projects-list-item-title {
	color: var(--main-color);
	font-size: 18px;
	line-height: 36px; /* 200% */
	letter-spacing: 1.08px;
}
.projects-list-item-text {
	color: var(--add-color);
	font-family: Roboto;
	line-height: 30px; /* 187.5% */
	letter-spacing: 0.48px;
}
.project-link-div-text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 156%;
	letter-spacing: 0.03em;
	color: var(--link-color);
}
.workers-list-title {
	margin-bottom: 10px;
}
.information_worker {
	padding: 30px 0;
}

.socialmedia_list {
	display: flex;
}

.footer-social-list-link {
	background-color: #ffffff10;
}

.information-worker-list {
	display: flex;
	gap: 10px;
	margin-top: 28px;
	justify-content: center;
}
.workers-list-title {
	color: var(--main-color);
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.48px;
}
.workers-list-text {
	color: var(--add-color);
	text-align: center;
	font-family: Roboto;
	line-height: normal;
	letter-spacing: 0.48px;
}

.contact-item {
	color: rgba(255, 255, 255, 0.6);
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.42px;
}

.contacts-link {
	color: var(--add-color);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	letter-spacing: 0.42px;
}
.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}
.contacts-link {
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
body {
	font-family: Roboto, sans-serif;
}

.info {
	padding-top: 72px;
	gap: 20px;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.no-scroll {
	overflow: hidden;
}


