.advantages {
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
		}
}
.advantages__list {
	@include flex(30px);
	flex-direction: column;
	@media screen and (min-width: 768px) {
		flex-wrap: wrap;
		flex-direction: row;
	}
	@media screen and (min-width: 1200px) {
		flex-wrap: nowrap;
		flex-direction: row;
	}
}
.advantages__item {
	flex-basis:100%;
			@media screen and (min-width: 768px) {
				@include flex-basis(60px,2);
				}
				@media screen and (min-width: 1200px) {
					flex-basis:calc((100% - 90px*(4 - 1))/4);
					}
	&::before {
		content: "";
		display: block;
		margin: 0 auto;
		background-image: url(../images/antenna_img.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70px 70px;
		margin-bottom: 30px;
		background-color: #f5f5f5;
		width: 100px;
		height: 120px;
		border-radius: 4px;
			min-width: 100%;
			@media screen and (min-width: 1600px) {
				max-width: 100%;
				}
	
	}
	&:nth-child(3)::before {
		background-image: url(../images/computer_img.svg);
	
	}
	&:nth-child(2)::before {
		background-image: url(../images/clock_img.svg);
		
	}
	&:nth-child(4)::before {
		background-image: url(../images/austronaut_img.svg);
		
	}
}
.advantages__title {
	color: $main-color;
	font-family: Roboto;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
	@media screen and (min-width: 768px) {
	text-align: left;
		}
}
.advantages__text {
	color: $add-color;
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.42px;
}
