
.workers {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: #f5f4fa;
}
.workers-title {
	color: $main-color;
	text-align: center;
	font-family: Roboto;
	font-size: 36px;
	line-height: normal;
	letter-spacing: 1.08px;
}
.workers-list {
	display: flex;
	gap: 30px;
	margin-top: 50px;
}
.workers-list-item {
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	background-color: $link-color;
	border-radius: 0px 0px 4px 4px;
}
.information_worker {
	padding: 30px 0;
}
.workers-list-title {
	margin-bottom: 10px;
	color: $main-color;
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.48px;
}
.workers-list-text {
	color: $add-color;
	text-align: center;
	font-family: Roboto;
	line-height: normal;
	letter-spacing: 0.48px;
}
.information-worker-list {
	display: flex;
	gap: 10px;
	margin-top: 28px;
	justify-content: center;
}
.information-worker-list-link:hover .workers-list-container-svg,
.information-worker-list-link:focus .workers-list-container-svg {
	fill: $link-color;
}
.information-worker-list-link:hover,
.information-worker-list-link:focus {
	background-color: $accent-color;
} 
.information-worker-list-link {
	padding: 12px;
	display: flex;
	border-radius: 50%;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: backgroud-color;
}
.workers-list-container-svg {
	fill: $add-color;
	transition-property: fill;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}