.btn {
	position: absolute;
	display: flex;
	background-color: transparent;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-width: 2px;
	padding: 6px;
	border-radius: 50%;
	right: 12px;
	top: 10px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: fill;
	&:hover,
	&:focus {
		fill: $accent-color;
		cursor: pointer;
	}
}
