.header__logo {
	color: #000;
	font-family: Raleway;
	font-size: 26px;
	letter-spacing: 0.78px;
	margin-right: 93px;
}
.logo__accent {
	color: $accent-color;
}
.footer__logo {
	color: $link-color;
	font-family: Raleway;
	font-size: 26px;
	letter-spacing: 0.78px;
	margin-right: 93px;
}