
.projects {
	padding-top: 94px;
	padding-bottom: 94px;
}
.filters-list {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.projects-list-item-button:hover,
.projects-list-item-button:focus {
	background-color: $accent-color;
	color: $link-color;
	cursor: pointer;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
		0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.projects-list-item-button {
	min-width: 73px;
	border-radius: 4px;
	background: #f5f4fa;
	font-family: Roboto;
	line-height: 26px; /* 162.5% */
	letter-spacing: 0.48px;
	font-weight: 500;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 22px;
	padding-left: 22px;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: color, backgrond-color;
}
.projects-list {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 30px;
}
.projects-list-item {
	flex-basis: calc((100% - 60px) / 3);
	border-width: 1px;
	border-color: #eee;
	border-style: solid;
}
.project-link:hover,
.project-link:focus {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
		0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}
.project-link {
	display: block;
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
}
.box {
	position: relative;
	overflow: hidden;
}
.box:hover .project-link-container {
	transform: translateX(0);
}
.project-link-container {
	position: absolute;
	padding: 63px 24px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	background-color: rgba(33, 150, 243, 0.9);
	transition: transform 900ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: transform;
}
.container_sites {
	padding: 20px 24px;
}
.projects-list-item-title {
	color: $main-color;
	font-size: 18px;
	line-height: 36px; /* 200% */
	letter-spacing: 1.08px;
}
.projects-list-item-text {
	color: $add-color;
	font-family: Roboto;
	line-height: 30px; /* 187.5% */
	letter-spacing: 0.48px;
}
.project-link-div-text {
	font-family: $font-family;
	font-weight: 400;
	font-size: 18px;
	line-height: 156%;
	letter-spacing: 0.03em;
	color: var(--link-color);
}
.socialmedia_list {
	display: flex;
}

.info {
	padding-top: 72px;
	gap: 20px;
}


